html{
    height: 100%;
    
}

body {
   padding: 0;
   margin: 0;
   height: 100%;
   background-image: url(images/V2XQzk1-hp-pavilion-wallpaper.jpg);
   background-repeat: no-repeat;
   background-size: 2000px,500px;
   
}




.align {
    margin-left:auto;
    margin-right: auto;
    width : 800px;
   
}

header {
    



}
img{
     padding-top: 30px;
     padding-bottom: 20px;
    padding-left: 45%;
    padding-right: 45%; 

    width: 120px;
    height: 120px;
}
nav{
    background-color: rgba(255, 147, 47, 0.233);
    
    width: 800px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    
}

main{
   
    padding-top: 40px;

    height: 200px;
    width: 800px;
    text-align: center;
   
 
 
}
footer
{
    margin-top: 100px;
    background-color: rgba(255, 147, 47, 0.397);
    height: 120px;
    width: 800px;
    
}

h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

p{
    
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
footer p {
    padding-top: 15px;
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}
.text {
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

a {
    color: white;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 12px;
}

.mail {
    
    color: aliceblue;
    font-size: 20px;
}

.map {
    margin-left: auto;
    margin-right: 400px;
    width : 800px; 
}

.center {
    width:100%;
}

.iframe{
    display:block;
    margin:20% auto;
}