@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,600,700,800&display=swap');
html{
  scroll-behavior:smooth;
}
*
 {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans';
  box-sizing: border-box;
  text-shadow: 0.5px 0.5px 1px black;
 }
 body
 {
   border: 5px solid cyan;
 }
 header
{
  width: 100%;
  height: 100vh;
  background-image: url('./U.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid #555;
}
.main 
{
  width: 100%;
  padding: 10px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .logo h1
{
  font-size: 20px;
  padding: 30px;
  color: #555;
  padding-top: 20px;
}
.main .logo 
{
  width:190px;
  height: 60px;
  font-weight: 900;

  
}

.main nav
{
  width:80%;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.main nav a
{
  text-decoration: none;
  color: #555; 
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.main nav a:hover{
 border-bottom: 3px solid  #555;
}

main .btn
{
  padding-top: 20px;
  
}
main button
{
  padding:12px 30px;
  text-align: center;
  font-size: 15px;
  border: none;
  background: linear-gradient( rgb(226, 146, 80),rgb(226, 71, 71),#555);
  border-radius: 15px;
  -webkit-box-reflect:bottom 1% linear-gradient(transparent,#0004);
  
  transition: 0.5s;
}

main button a
{
  text-decoration: none;
  color: #ffffff;
}

main button a:hover
{
  color: black;
  text-shadow: none;
}

main
{
  width: 100%;
  display: flex;
  letter-spacing: 2px;
  padding: 5%;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

main .left
{
  padding-left: 5%;

}
main .right
{
  padding-right: 1%;
}
main .right img
{
  border-radius: 100%;
}
.left h2
{
  font-size: 40px;
  text-transform: capitalize;
  color: #555;
  margin-top: 10%;
}
.left h1
{
  font-size: 50px;
}
.left p
{
  font-size: 15px;
  font-weight: 500;
}
main img{
  width: 75%;
}

.left .tag
{
  color: crimson;
  text-shadow: 1.2px 1.2px 1.2px #004;
}
.precautions
{
  width: 100%;
  height: 100vh;
  background-image: url('./design.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top:15%;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.precautions h1
{
  padding: 20px;
  color: #555;
  font-weight: 900;
  font-size: 40px;
  border-bottom: 2px solid #555;
}

.precautions .ptable 
{
  padding: 10px;
  color: darkcyan;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 22px;
  padding-top: 40px;
}

.about
{
  width: 100%;
  height: 100vh;
  background-image: url('./design.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 5%;
  padding-top: 15%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 2px solid #555;
}
.about h1
{
 padding: 10px;
 color: #555;
 font-weight: 900;
 font-size: 40px;
 border-bottom: 2px solid #555;
}
.about h2
{
 padding: 10px;
 color: darkcyan;
 font-weight: 600;
 font-size: 22px;
 letter-spacing: 2px;
 padding-top: 50px;
 padding-bottom: 40px;
}
.about nav
{
  border:2px solid #555;
  padding: 10px;
  border-radius: 30px;
}
.about nav a
{
  color: #555;
  text-decoration: none;
  font-weight: 700;
}
.precautions nav
{
  border:2px solid #555;
  padding: 10px;
  border-radius: 30px;
}
.precautions nav a
{
  color: #555;
  text-decoration: none;
  font-weight: 700;
}

@media only screen and (max-width: 830px)
{
 .main 
 {
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
  }
  .main .logo h1
  {
   font-size: 15px;
   padding: 20px;
   padding-top: 10px;
  }
  .main .logo 
  {
   width:145px;
   height: 40px;
  }
  .main nav a
  {
   font-size: 20px;
  }
  main
  {
   padding-top: 10px;
   flex-direction: column-reverse;
   padding-bottom: 10px; 
  }
  .left h2
  {
   font-size: 20px;
   margin-top: 10%;
  }
  .left h1
  {
   font-size: 22px;
  }
  main .left
  {
   padding-left: 0%;
  }
  main .right
  {
   padding-left: 40%;
  }
  main img
  {
    width: 98%;
  }
  .main .logo img
  {
   width:60px;
   height: 60px;
  }
  .main button
  {
   padding:10px 20px;
   font-size: 15px;
  }
  header
  {
   max-height: 100vh;
   background-size: 100% 100%;
  }
  .about
  {
   width: 100%;
   height: 100vh;
   padding-left: 5%;
   padding-top: 15%;
   padding-right: 5%;
   padding-bottom: 20px;
  }
  .about h1
  {
   padding: 5px;
   font-size: 25px;
  }
  .about h2
  {
   padding: 5px;
   font-size: 20px;
   line-height: 2.4;
  }
  .precautions
  {
    height: 100vh;
    padding-bottom: 20px;
  }
  .precautions h1
  {
   padding: 10px;
   font-size: 30px;
  }

  .precautions .ptable 
  {
   padding: 20px;
   font-size: 20px;
   padding-top: 40px;
   font-weight: 600;
  }

  .precautions .ptable td 
  {
   padding-bottom: 20px;
  }
}
