
.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content {
  
  margin: 8vh auto;
  width: 35vw;
  height: 95vh;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  text-align: center;
  font-size: 1.3rem;
  width: 80%;
  margin-top: 0px;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 70%;
}

.form-inputs p {
  font-size: 0.8rem;
  color: #f00e0e;
  margin-top: 5px;
  margin-bottom: 0px;
}


.form-input {
  text-align: start;
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 3px;
  height: 40px;
  width: 100%;
  border: none;
}
.form-label {
  font-size: 0.9rem;
  margin: 10px 0px;
  color: #fff;
  text-align: start !important;
}

.form-input::placeholder {
  color: #595959;
  font-size: 13px;
}

.form-input-btn {
  width: 103%;
  height: 50px;
  margin-top: 10px;
  border-radius: 3px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.form-input-login {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}

.card{

  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  color: white;
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
  margin: 20px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.item{
  color: white;
  background: linear-gradient(90deg, rgba(94, 93, 93, 0.582) 0%, rgba(66, 65, 65, 0.575) 100%);
  margin: 30px 30px 30px 0px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
}

.load img{
  display: block;
  margin: 30vh auto;
  margin-bottom: 0px;
  height: 33vh;
}
.load h2{
  text-align: center;
}
.load h3{
  text-align: center;
  color: #ff0000;
}