body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 20px 30px 0;
    line-height: 1.4;
}
.flex-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;
}

.flex-item{
    background: cyan;
    border: .3pt solid black;
    width: 10px;
    transition: 0.1s all ease;
    box-shadow: 1px 4px 5px rgba(246, 246, 246, 0.3);
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.nav{
    background-color: rgb(17, 92, 101);
    height:100px;
    align-items: center;
    display: flex;
}
.row{
    width: 100%;
    align-items: center;
    right: 30px;
    
}
button{
    height:60px;
    margin-left: 20px;
    
}
h1 {
    text-shadow: 2px 2px #32afa9;
    text-align: center;
  }
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
.footer{
    opacity: .6;
    font-size: medium;
    display: flex;
}
@media screen and (max-width: 728px){
    .nav{
        background-color: rgb(17, 92, 101);
        height:auto;
        align-items: center;
        display: block;
    }
    .row{
        width: auto;
        align-items: center;
        right: 30px;
        display: block;
        
    }
    .flex-container{
        width: auto;
    }

}
.designed_by{
    margin-left: 100px;
}